body {
	margin: 0;
	background-color: #2a323d;
}

a:active, a:hover {
    outline: 0;
}

p {
	margin: 8px 0 0 0;
}

.panel {
	background-color: #242a33;
    color: #fff;
    box-shadow: 2px 2px 3px #222;
    display: flex;
    flex-direction: column;
    padding: 8px;
    box-sizing: border-box;
    position: fixed;
    top: 0;
    bottom: 0;
    z-index: 2;
    transition: all ease-in .5s;
    width: 50em;
    font-family: Courier;
    left: 0;
}

.hidden {
	left: -50em;
}

.toggle-drawer {
	position: absolute;
	top: 0;
	left: 100%;
	cursor: pointer;
	background-color: #242a33;
	padding: 16px;
	font-size: x-large;
	font-family: initial;
}

.title {
	font-size: x-large;
	color: white;
	width: 100%;
	text-align: center;
	padding: 16px 0;
	background: #333c4a;
	box-shadow: 0 2px 3px #222;
	display: block;
	margin-bottom: 16px;
}

.log {
	flex-grow: 1;
	overflow: auto;
	height: calc(100% - 1em);
}

.input {
	color: white;
}

.input::before {
	content: ">";
	position: relative;
	top: -1px;
}

.input input {
	background: none;
	border: none;
	color: white;
	font-size: medium;
	margin-top: 2px;
	width: calc(100% - 1em - 7px);
	font-family: Courier;
}

.stdin {
	color: chartreuse;
}

.stdout {
	color: white;
}

.error {
	background: red;
}

.comp {
	width: 90%;
	max-width: 940px;
	color: #fff;
    background-color: #242a33;
	box-shadow: 2px 2px 3px #222;
	border-radius: 2px;
	padding: 16px;
	margin: auto;
	margin-bottom: 16px;
}

.comp::before {
	content: "";
    width: 32px;
    height: 32px;
    display: inline-block;
    background-size: 24px 24px;
    background-position: center;
    background-repeat: no-repeat;
    margin-right: 8px;
    background-color: white;
    border-radius: 16px;
}

.fan::before {
    background-image: url(../icons/fan.png);
}

.boiler::before {
    background-image: url(../icons/boiler.png);
}

.sensor::before {
    background-image: url(../icons/sensor.png);
}

.ac::before {
    background-image: url(../icons/ac.png);
}

.condenser::before {
    background-image: url(../icons/condenser.png);
}

.compName {
	font-size: x-large;
	margin: 0 0 8px 8px;
	display: inline-block;
	vertical-align: top;
	line-height: 32px;
}

.action {
	color: #ffab40;
    margin: 16px 20px 0 0;
    transition: color .3s ease;
    text-transform: uppercase;
    cursor: pointer;
    display: inline-block;
}

.action:hover {
	color: #ffd8a6;
}

.hacker-start {
	position: fixed;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	background: black;
	z-index: 100;
	transition: opacity .5s ease;
	color: green;
	display: flex;
	justify-content: flex-end;
	text-align: left;
	flex-direction: column;
	padding: 20px;
	pointer-events: none;
}

.hacker-start.hidden {
	opacity: 0;
	left: 0;
}

.hacker-theme {
	display: none;
}

.hacker {
	background-color: black;
}

.hacker .comp:before {
	content: unset;
}

.hacker .comp {
	color: green;
	font-family: "Courier New";
	background-color: black;
	box-shadow: none;
	border-bottom: green solid 1px;
}

.hacker .compName {
	font-size: unset;
	margin: unset;
}

.hacker .action {
	color: green;
	text-decoration: underline;
}

.hacker .action:hover {
	color: lightgreen;
}

.hacker .panel {
	background-color: black;
	color: green;
}

.hacker .toggle-drawer {
	background-color: black;
}

.hacker .input {
	color: green;
}

.hacker .input input {
	color: green;
}

.hacker .stdout {
	color: green;
}

.hacker .stdin {
	color: lightgreen;
}

.hacker .title {
	background-color: black;
	color: green;
}
