body {
	margin: 0;
	background-color: #2a323d;
}

a:active, a:hover {
    outline: 0;
}

p {
	margin: 8px 0;
}

input {
	margin: 8px 0;
	font-size: medium;
}

.sun0, .moon1 {
	display: none;
}

.sun1, .moon0 {
	display: inline-block;
	position: absolute;
	bottom: 0;
	text-align: center;
	font-size: xx-large;
}

.time {
	font-size: 100px;
	bottom: 0;
	position: relative;
}

.panel {
	background-color: #242a33;
    color: #fff;
    box-shadow: 2px 2px 3px #222;
    display: flex;
    flex-direction: column;
    padding: 8px;
    box-sizing: border-box;
    position: fixed;
    top: 0;
    bottom: 0;
    z-index: 1000;
    transition: all ease-in .5s;
    width: 50em;
    font-family: Courier;
    left: 0;
}

.room {
	display: inline-table;
    width: 100px;
    height: 100px;
    text-align: center;
	border: solid 2px black;
    padding: 0 8px;
    cursor: pointer;
    vertical-align: middle;
	margin-right: -5px;
}

.room p {
	display: table-cell;
	vertical-align: middle;
}

.room.inactive {
	background: red;
}

.state {
	border: solid 2px black;
    padding: 0 8px;
    background: grey;
    cursor: pointer;
}

.state.active, .room.active {
	background: green;
}

.compass {
	text-align: center;
	width: 108px;
	margin-top: 8px;
	margin-right: 8px;
	display: inline-block;
}

.circle {
	width: 100px;
	height: 100px;
	border-radius: 100px;
	background: white;
	margin-top: 8px;
	border: solid 4px black;
}

.arrow {
	width: 80px; 
	height: 10px; 
	position: relative; 
	background: red;
	transition: transform .25s; 
	left: 7.5px;
	top: 45px;
}

.arrow::before {
	content: ""; 
	position: absolute; 
	right: -5px; 
	bottom: 0; 
	width: 0; 
	height: 0; 
	border-left: 5px solid red; 
	border-top: 5px solid transparent; 
	border-bottom: 5px solid transparent;
}

.dot {
	width: 10px;
	height: 10px;
	border-radius: 10px;
	background: black;
    position: relative;
    left: 43px;
    top: 35px;
}

.progress {
	width: 16ch;
	height: 1em;
	overflow: hidden;
	background: lightgrey;
}

.progress.alert {
	background: lightsalmon;
  	box-shadow: 0 0 0 0 rgba(232, 76, 61, 0.7);
	-webkit-animation: pulse 1.25s infinite cubic-bezier(0.66, 0, 0, 1);
  	-moz-animation: pulse 1.25s infinite cubic-bezier(0.66, 0, 0, 1);
  	-ms-animation: pulse 1.25s infinite cubic-bezier(0.66, 0, 0, 1);
  	animation: pulse 1.25s infinite cubic-bezier(0.66, 0, 0, 1);
  	z-index: 100;
	position: relative;
}

.bar {
	height: 100%;
	background: darkgrey;
}

.alert .bar {
	background: red;
}

.hidden {
	left: -50em;
}

.toggle-drawer {
	position: absolute;
	top: 0;
	left: 100%;
	cursor: pointer;
	background-color: #242a33;
	padding: 16px;
	font-size: x-large;
	font-family: initial;
}

.title {
	font-size: x-large;
	color: white;
	width: 100%;
	text-align: center;
	padding: 16px 0;
	background: #333c4a;
	box-shadow: 0 2px 3px #222;
	display: block;
	margin-bottom: 16px;
}

.log {
	flex-grow: 1;
	overflow: auto;
	height: calc(100% - 1em);
}

.input {
	color: white;
}

.input::before {
	content: ">";
	position: relative;
	top: -1px;
}

.input input {
	background: none;
	border: none;
	color: white;
	font-size: medium;
	margin-top: 2px;
	width: calc(100% - 1em - 7px);
	font-family: Courier;
}

.stdin {
	color: chartreuse;
}

.stdout {
	color: white;
}

.error {
	background: red !important;
	color: black !important;
}

.comp {
	width: 90%;
	max-width: 940px;
	color: #fff;
    background-color: #242a33;
	box-shadow: 2px 2px 3px #222;
	border-radius: 2px;
	padding: 16px;
	margin: auto;
	margin-bottom: 16px;
}

.comp::before {
	content: "";
    width: 32px;
    height: 32px;
    display: inline-block;
    background-size: 24px 24px;
    background-position: center;
    background-repeat: no-repeat;
    margin-right: 8px;
    background-color: white;
    border-radius: 16px;
}

.airflow::before {
    background-image: url(../icons/fan.png);
}

.thruster::before {
    background-image: url(../icons/boiler.png);
}

.solar::before {
    background-image: url(../icons/sensor.png);
}

.compName {
	font-size: x-large;
	margin: 0 0 8px 8px;
	display: inline-block;
	vertical-align: top;
	line-height: 32px;
}

.action {
	color: #ffab40;
    margin: 16px 20px 0 0;
    transition: color .3s ease;
    text-transform: uppercase;
    cursor: pointer;
    display: inline-block;
}

.action:hover {
	color: #ffd8a6;
}

@-webkit-keyframes pulse {to {box-shadow: 0 0 0 45px rgba(232, 76, 61, 0);}}
@-moz-keyframes pulse {to {box-shadow: 0 0 0 45px rgba(232, 76, 61, 0);}}
@-ms-keyframes pulse {to {box-shadow: 0 0 0 45px rgba(232, 76, 61, 0);}}
@keyframes pulse {to {box-shadow: 0 0 0 45px rgba(232, 76, 61, 0);}}




.hacker-start {
	position: fixed;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	background: black;
	z-index: 10000;
	transition: opacity .5s ease;
	color: green;
	display: flex;
	justify-content: flex-end;
	text-align: left;
	flex-direction: column;
	padding: 20px;
	pointer-events: none;
	font-size: large;
}

.hacker-start.hidden {
	opacity: 0;
	left: 0;
}

.hacker-theme {
	display: none;
}

.hacker {
	background-color: black;
}

.hacker .comp:before {
	content: unset;
}

.hacker .comp {
	color: green;
	font-family: "Courier New";
	background-color: black;
	box-shadow: none;
	padding: 0;
	margin-bottom: 0;
}

.hacker .comp:after {
	content: "--------------------------------------------------------------------------------------------------------------------------------";
	display: block;
	overflow-x: hidden;
}

.hacker .compName {
	font-size: unset;
	margin: unset;
	line-height: unset;
}

.hacker .hacker-inline {
	display: inline;
}

.hacker .panel {
	background-color: black;
	color: green;
}

.hacker .toggle-drawer {
	background-color: black;
}

.hacker .input {
	color: green;
}

.hacker .input input {
	color: green;
}

.hacker .stdout {
	color: green;
}

.hacker .stdin {
	color: lightgreen;
}

.hacker .title {
	background-color: black;
	color: green;
}

.hacker .progress {
	background-color: darkgreen;
	display: inline-block;
	vertical-align: middle;
}

.hacker .hacker-inline:before {
	content: "";
	display: block;
}

.hacker .bar {
	background-color: green;
}

.hacker .room {
	width: unset;
	height: unset;
	border: none;
	padding: 0;
	margin: 0;
	background: none;
	color: lightgreen;
}

.hacker .hacker-invisible {
	display: none;
}

.hacker .room::before {
	content: "|";
	padding-right: 1ch;
	color: green;
	cursor: unset;
	text-decoration: none;
}

.hacker .room:first-child:before {
	content: "";
	padding: 0;
}

.hacker .room p {
	vertical-align: unset;
}

.hacker .state {
	border: none;
	color: lightgreen;
	background: none;
	padding: 0;
	margin: 0;
}

.hacker .state.active, .hacker .room.active {
	text-decoration: underline;
}

.hacker .compass {
	width: unset;
	margin: 0;
}

.hacker .circle {
    display: none;
}

.hacker .arrow {
	background-color: green;
}

.hacker .arrow::before {
	border-left-color: green;
}

.hacker input {
	background: black;
    color: lightgreen;
    border: none;
    border-bottom: 1px solid lightgreen;
    margin: 0;
    width: 16ch;
    font-family: Courier New;
}

.hacker input[type='number'] {
    -moz-appearance:textfield;
}

.hacker input::-webkit-outer-spin-button,
.hacker input::-webkit-inner-spin-button {
    -webkit-appearance: none;
}

.hacker p {
	margin: 0;
}

.hacker .progress.alert {
  	box-shadow: unset;
	-webkit-animation: unset;
  	-moz-animation: unset;
  	-ms-animation: unset;
  	animation: unset;
  	z-index: unset;
	overflow: unset;
}

.hacker .progress.alert:after {
	content: "!";
	position: absolute;
	right: -2ch;
	bottom: 0;
	color: lightgreen;
	line-height: 1em;
}

.hacker .sun1, .hacker .moon0 {
	position: unset;
	text-align: unset;
	font-size: unset;
	display: block;
}

.hacker .sun1 p, .hacker .moon0 p {
	display: inline;
}

.hacker .sun1:before {
	content: "Sun is visible (";
}

.hacker .moon0:before {
	content: "Sun is blocked (";
}

.hacker .sun1:after, .hacker .moon0:after {
	content: ")";
}

.hacker .time {
	display: none;
}
